// bootstap.css
.col-2xl-1, .col-2xl-2, .col-2xl-3, .col-2xl-4, .col-2xl-5, .col-2xl-6, .col-2xl-7, .col-2xl-8, .col-2xl-9, .col-2xl-10, .col-2xl-11, .col-2xl-12, .col-2xl,
.col-2xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


@media (min-width: 1600px) {
  .col-2xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-2xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-2xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-2xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-2xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-2xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-2xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-2xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-2xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-2xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-2xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-2xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-2xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-2xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-2xl-first {
    order: -1;
  }
  .order-2xl-last {
    order: 13;
  }
  .order-2xl-0 {
    order: 0;
  }
  .order-2xl-1 {
    order: 1;
  }
  .order-2xl-2 {
    order: 2;
  }
  .order-2xl-3 {
    order: 3;
  }
  .order-2xl-4 {
    order: 4;
  }
  .order-2xl-5 {
    order: 5;
  }
  .order-2xl-6 {
    order: 6;
  }
  .order-2xl-7 {
    order: 7;
  }
  .order-2xl-8 {
    order: 8;
  }
  .order-2xl-9 {
    order: 9;
  }
  .order-2xl-10 {
    order: 10;
  }
  .order-2xl-11 {
    order: 11;
  }
  .order-2xl-12 {
    order: 12;
  }
  .offset-2xl-0 {
    margin-left: 0;
  }
  .offset-2xl-1 {
    margin-left: 8.33333%;
  }
  .offset-2xl-2 {
    margin-left: 16.66667%;
  }
  .offset-2xl-3 {
    margin-left: 25%;
  }
  .offset-2xl-4 {
    margin-left: 33.33333%;
  }
  .offset-2xl-5 {
    margin-left: 41.66667%;
  }
  .offset-2xl-6 {
    margin-left: 50%;
  }
  .offset-2xl-7 {
    margin-left: 58.33333%;
  }
  .offset-2xl-8 {
    margin-left: 66.66667%;
  }
  .offset-2xl-9 {
    margin-left: 75%;
  }
  .offset-2xl-10 {
    margin-left: 83.33333%;
  }
  .offset-2xl-11 {
    margin-left: 91.66667%;
  }
}



// bootstap-grid.scss

// @media (min-width: 1600px) {
//   .container {
//     max-width: 1540px;
//   }
// }
.col-2xl-1, .col-2xl-2, .col-2xl-3, .col-2xl-4, .col-2xl-5, .col-2xl-6, .col-2xl-7, .col-2xl-8, .col-2xl-9, .col-2xl-10, .col-2xl-11, .col-2xl-12, .col-2xl,
.col-2xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 1600px) {
  .col-2xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-2xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-2xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-2xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-2xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-2xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-2xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-2xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-2xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-2xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-2xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-2xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-2xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-2xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-2xl-first {
    order: -1;
  }
  .order-2xl-last {
    order: 13;
  }
  .order-2xl-0 {
    order: 0;
  }
  .order-2xl-1 {
    order: 1;
  }
  .order-2xl-2 {
    order: 2;
  }
  .order-2xl-3 {
    order: 3;
  }
  .order-2xl-4 {
    order: 4;
  }
  .order-2xl-5 {
    order: 5;
  }
  .order-2xl-6 {
    order: 6;
  }
  .order-2xl-7 {
    order: 7;
  }
  .order-2xl-8 {
    order: 8;
  }
  .order-2xl-9 {
    order: 9;
  }
  .order-2xl-10 {
    order: 10;
  }
  .order-2xl-11 {
    order: 11;
  }
  .order-2xl-12 {
    order: 12;
  }
  .offset-2xl-0 {
    margin-left: 0;
  }
  .offset-2xl-1 {
    margin-left: 8.33333%;
  }
  .offset-2xl-2 {
    margin-left: 16.66667%;
  }
  .offset-2xl-3 {
    margin-left: 25%;
  }
  .offset-2xl-4 {
    margin-left: 33.33333%;
  }
  .offset-2xl-5 {
    margin-left: 41.66667%;
  }
  .offset-2xl-6 {
    margin-left: 50%;
  }
  .offset-2xl-7 {
    margin-left: 58.33333%;
  }
  .offset-2xl-8 {
    margin-left: 66.66667%;
  }
  .offset-2xl-9 {
    margin-left: 75%;
  }
  .offset-2xl-10 {
    margin-left: 83.33333%;
  }
  .offset-2xl-11 {
    margin-left: 91.66667%;
  }
}
