$globalNavHeight:80px;
$sideTabHeight:3.5rem;
$gotoTopHeight: 50vh;
$clrActivePage: #90c;
@import "my_variables", "my_mixins", "my_common_style" ,"my_anime";

body {
    margin: 0;
    visibility:hidden;
}

a{
    color: $fClr;
    text-decoration: none;
}

// ============= bs4で代替可能 ===============
// 名前毎流用(HTMLのクラス名そのままで入れ替え可能)
.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.mx-auto{
    margin-right: auto;
    margin-left:auto;
}

.container{
    margin: 0 auto;
    width: 95%;
}

// grid layoutで対応可能
.d_flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;

    & > img{
        flex:0 1 auto;
    }
}


// ============= js用パーツ ===============
.nav_active_page{
    background-color: $clrActivePage;
}

// ============= 汎用 ===============
.sticky_menu {
    padding: 0;
    margin: 0;
    width: 100%;
    height: $globalNavHeight;
    background-color: #999;
    top: $globalNavHeight;
    left: 0;
    position: fixed;

    & > li > a{
    }
}


.goto_top_tag {
    padding: 0;
    margin: 0;
    width: 10rem;
    height: $sideTabHeight;
    background-color: #444;

    top: $gotoTopHeight;
    left: calc(100% - 3rem);
    transform: rotate(-90deg);
    /*中心回転から起点を中心から左上に*/
    transform-origin: 0% 0%;

    position: fixed;
    display: none;

    border-radius: 0.4rem 0.4rem 0.1rem 0.1rem;

    & > a {
        margin: 0;
        color: $fClr;
        text-align: center;
        line-height: $sideTabHeight - 0.5rem;
        text-decoration: none;
    }
}

.circle_nav {
    &_position {
        float: right;

        $navDiameter:100px;
        & li {
            position: relative;
            width: $navDiameter;
            height: $navDiameter;
            border-radius: $navDiameter / 2;
            background:  map-get($snsColor, 'twitter');
            margin: 0 0.3rem;

            @include md-g {
                margin: 0 0.6rem;
            }

            &:hover{
                opacity: 0.9;
            }

        }

        & a {
            position: absolute;
            width: $navDiameter;
            height: $navDiameter;
            border-radius: $navDiameter / 2;
            // top: 50%;
            // left: 50%;
            // transform: translateY(-15%) translateX(-50%);
            // color: $fClr;
            // text-decoration: none;
            text-align: center;
            font-size: 1.2rem;
            line-height: $navDiameter;

            &:hover{
                opacity: 0.9;
            }
        }

        &::after {
            clear: both;
        }
    }
}

$imgSizeKurageX: 200px;
$imgSizeKurageY: 200px;

.image_hover{
    &_base{
        position: relative;

        & img{
            width: $imgSizeKurageX;
            height: $imgSizeKurageY;
        }
        &:hover{
            // content:"textoverlay";
            // opacity: 0;
        }
    }
    &_text{
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        margin: 0;
        width: $imgSizeKurageX;
        height: $imgSizeKurageY;
        z-index: 1;
        opacity: 0;
        color:$fClr;
        background-color: #007;
        text-align: center;
        overflow: hidden;
        transition: 300ms opacity ease 0ms;

        &:hover{
            // animation: image_text_overlay 600ms ease-out 0s 1 normal forwards running;
            opacity:1;
            transition: 300ms opacity ease 0ms;
        }
    }
}



