@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Anton|Gloria+Hallelujah|Noto+Sans+KR:700&display=swap");
// @import "_sanitize.scss";
// @import url("https:/:/fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
@import "bootstrap";
@import "my_variables", "my_mixins", "my_nav";

@debug 10em+3em * 4;

/* user style definition */ //jump用メッセージ
//使用しないクラスをコンパイルからはずす仕組みがあるか調べる


// 動画は、人々の動画をサンプルで挿入して、欲しい動画のイメージを相手に持ってもらう
// ============= debug codes ===============
@if $userDisable==true{
    .twitter-timeline , .hidToggle , video {visibility: hidden !important;}
    footer  {& dl, & ul, & h2, & h3 ,& p ,& u ,& img {visibility: hidden !important;}}
    header  {& dl, & ul, & h2, & h3 ,& p ,& u ,& img {visibility: hidden !important;}}
    section {& dl, & ul, & h2, & h3 ,& p ,& u ,& img {visibility: hidden !important;}}
    aside   {& dl, & ul, & h2, & h3 ,& p ,& u ,& img {visibility: hidden !important;}}
}

@if $headerDisable==true{
    header {visibility: hidden !important;}
}

@if $contantsDisable==true{
    .container*:not([class^="col-"]){visibility: hidden !important;}
}

@if $wireFrameMode==true {
    .container,.container-fluid{
        outline: 1px dashed gray;
        outline-offset: -1px;
    }

    .wf,
    [class^="col-"] {
        outline: 3px solid gray !important;
        outline-offset: -3px !important;
    }

    // $themeClr: #8E8E8E;
}
@if $colorbarDisp==false{
    .boxcolorbar {display: none;}
}@else {

}


/*-------------------------------------------------------- */
/* base
/*-------------------------------------------------------- */
body {
    font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

// ============= animation ===============
// 1   animation-name               | アニメーション・ネーム アニメーションの名前                                  |
// 02  animation-duration           | アニメーション・デュレーション アニメーションが始まって終わるまでの時間を指定します。    |
// 03  animation-timing-function    | アニメーション・タイミング・ファンクション   アニメーションの進行の度合いを指定します。   |
// 04  animation-delay              | アニメーション・ディレイ    アニメーションが始まる時間を指定します。               |
// 05  animation-iteration-count    | アニメーション・イテレーション・カウント    アニメーションの繰り返し回数を指定します。   |
// 06  animation-direction          | アニメーション・ディレクション アニメーションの再生方向を指定します。               |
// 07  animation-fill-mode: ;       | アニメーション・フィル・モード アニメーションの開始前、終了後のスタイルを指定します。    |
// 08  animation-play-state         | アニメーション・プレイ・ステート    アニメーションの再生・停止を指定します。          |
// 09  animation                    | アニメーション 上記、8つのプロパティを一括で指定できる、ショートハンドプロパティです。  |

@keyframes fadein-soft_flicker {
    0%{opacity:0;}
    60%{opacity:1;}
    70%{opacity:.9;}
    80%{opacity: 1;}
    90%{opacity:.95;}
    100% {opacity:1;}
};
@keyframes gray2color {
    0%{filter: grayscale(100%);}
    100%{filter: grayscale(0%);}
};

// @keyframes logo-zoom {
//     0%{width: 0px;}
//     50%{width: 700px;}
//     100%{width: 600px;}
// };

@keyframes logo-zoom {
    0%{top: -200px;}
    33%{top: -100px;}
    66%{top: -20px;}
    100%{top: 0px;}
};

@keyframes fadein {
    0%{opacity:0;}
    80%{opacity:0;}
    100% {opacity:1;}
};

// ============= bootstrap4 memo ===============

// xs Extra small ／ ;面幅 極小（544px未満）
// sm Small ／ 画面幅 小（544px以上 768px未満）
// md Medium ／ 画面幅 中 （768px以上 992px未満）
// lg large ／ 画面幅 大 （992px以上 1200px未満）
// xl Extra large ／ 画面幅 特大 （1200px以上）


//============= temp ===============


// ============= color definition ===============
.clr {
    &-theme {
        background-color: $themeClr;
        // background-color: rgba(#pointer-events: , .85);

        &-o95 {
            background-color: rgba($themeClr, 0.95);
        }

        &-light {
            background-color: $subClr1;
        }

        &-dark {
            background-color: $subClr3;
        }

        &-light-bg {
            // background-color: lighten($subClr1,5%);
             background-color: #f8f8f8;
        }
    }
}

@each $key, $color in $snsColor {
  .clr-#{$key} {
    color: $color;
    &:hover {
      color: darken($color, 10%);
    }
  }
}

.twitter-clr {
    font-family: FontAwesome;
    content: '\f099';
}

.fc{
    &-ddd{color: #ddd;}
    &-eee{color: #eee}
    &-fff{color: #fff;}

}

// aside .twitter-timeline {
//     height: 500px !important;
// }
// width="280px"
// height="400px"
// data-tweet-limit="1" //これを設定するとスクロールバーがでなくなります
// data-theme="light"
// data-theme="dark"
// data-link-color="#e55937"
// data-border-color="#ff0000"
// data-chrome="noheader"
// data-chrome="nofooter"
// data-chrome="noborders"
// data-chrome="noscrollbar"
// data-chrome="notransparent"
// data-chrome="noheader nofooter"
.boxcolorbar{
    font-size: 0; //inline-blockの隙間を消す
    // letter-spacing: -.4em;
}
[class^="colorbar"] {
    @include wh(50px, 50px);
    display: inline-block;
}
.colorbar{
    &1{background-color: $subClr1;border:5px solid $accentClr}
    &2{background-color: $subClr2;}
    &3{background-color: $themeClr;}
    &4{background-color: $subClr3;}
    &5{background-color: $accentClr;}
}

// ============= style definition ===============
// bootstrapとの重複がある場合は後々消す

// ============= bootstrap4 style overwrite ===============
/* _nav.scss */
.nav-link {
    padding-top: ($headerHeight - $bodyFontHeight)/2;
    padding-bottom: ($headerHeight - $bodyFontHeight)/2 - $underLineWeight - 4px;
}

.dropdown {
    &:hover .dropdown-menu {
        display: block; //マウスオーバーでメニュー展開
    }
    &-toggle::after{
    margin-left: -0px;
    border: $underLineWeight;
    }
}

.dropup .dropdown-toggle::after {
    display: block;
    margin-left: inherit;
    vertical-align: inherit;
    // content: "";
    border:0;
}

//変わらない件
.navbar-dark{
        color:rgba(240,240,240,.3) !important;
    &:hover ,
    &:focus{
        color:rgba(240,240,240,.95) !important;
    }
}

// ============= bootstrap4 extension ===============
// sass script test
@for $i from 6 through 12 {

    .mt-#{$i},
    .my-#{$i} {
        // $buf: $i / 2; // local変数的に使える
        margin-top: #{$i / 2}rem !important; // 簡単な演算はバッファ不要
    }
}

@for $i from 6 through 12 {

    .pb-#{$i} {
        // $buf: $i / 2; // local変数的に使える
        padding-bottom: #{$i / 2}rem !important; // 簡単な演算はバッファ不要
    }
}

@for $i from 2 through 14 {
    .w-#{$i}r {
        width:#{$i}rem;
    }
}

@for $i from 1 through 10 {
    .lh-#{$i} {
        line-height:#{$i};
    }
    .lh-#{$i}r {
        line-height:#{$i}rem;
    }
}

@for $i from 1 through 20 {
    .minw-#{$i * 50} {
        min-width:#{$i * 50}px;
    }
    .maxw-#{$i * 50} {
        max-width:#{$i * 50}px;
    }
    .maxh-#{$i * 50} {
        max-height:#{$i * 50}px;
    }
    // height
    .minh-#{$i * 5}v {
        max-height:#{$i * 5}vh;
    }
    .minh-#{$i * 50} {
        min-height:#{$i * 50}px;
    }
    .maxh-#{$i * 5}v {
        max-height:#{$i * 5}vh;
    }
}


@for $i from 1 through 8 {
  $font-size: percentage(1 / $i);
  .ftest-#{$i} {
    font-size: $font-size;
  }
}

@for $i from 1 through 40 {
  $font-size: ($i / 20);
  .fz-#{$font-size * 100}r {
    font-size: #{$font-size}rem !important;
  }
}

@for $i from 1 through 20 {
  $font-size: ($i * 10);
  .fz-#{$font-size}per {
    font-size: #{$font-size}% !important;
  }
}

.mt8px{
    margin-top: 8px;
}
// .zindexInc {
//     z-index: 1;
// }

// @media (min-width: 2000px) {
//   .container {
//     max-width: 2040px;
//   }
// }




// ============= footer ===============
.ul {
    &-4col{
        & > li{
            width: calc(24% - 1px);
        }
    }
    &-5col{
        & > li{
            width: 20%;
        }
    }
}

.footer {
    &-title{
        color: rgba(#fff, 1);
        border-bottom: 1px solid ($fClr);
        font-size: 1.2rem;
        letter-spacing: 0.15rem;
        max-width: 440px;
    }

    &-link-style {
        margin-bottom: 0;
        color: rgba($fClr, 1);
        font-size:0.9rem;
        &:hover{
            color: rgba($accentClr,.9);
            text-decoration: none;
        }
        & i{
            padding-right: 5px;
            font-size: 0.8rem;
        }

    }

    &-contactUs {
        display: table;
        color: rgba($fClr, 1);

        & dl {
            display: table-row;
        }

        & dt,
        dd {
            font-size:0.9rem;
            height: 2rem;
            display: table-cell;
        }

        & dt{
            white-space: pre;
        }
        & dd {
            padding-left: 1rem;
        }
    }
}

.dltable {
    & dl {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #ccc;
        border-top: none;
        // box-shadow: 0px 2px 2px rgba(0, 0, 0, .4);

    }

    & dt {
        background: $subClr1;
        width: 12rem;
        @include md-l {
            width:100%;
            display: block;
        };
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & dd {
        background: #fff;
        // border-left: 1px solid #ccc;
        margin: 0;
        width: calc(100% - 12rem);
        width : -webkit-calc(100% - 12rem) ;
        @include md-l {
            width:100%;
        };
    }
    & dt, & dd{
        padding: 0.8rem;
        box-sizing: border-box;
        border-top: 1px solid #ccc;
    }
}

.hidden-container-grater-md{
    @include md-g {
        display: none;
    }
}

.hidden-container-less-md{
    @include md-l {
        display: none;
    }
}

.footer-lift-less-md{
    @include md-l {
        padding-bottom: $mobileNaviY;
    }
}

// ============= main contants common style ===============
.headline {
    text-align: center;
    // letter-spacing:0.2rem;
    // font-weight: bold;
    // transform: scale(0.7, 1);
    padding: .5em;
    // border-top: double #7ED1E6;
    // margin-top: 60px;
    // margin-bottom: 60px;
    // margin-left: auto;
    // margin-right: auto;
    margin: 60px auto;

    @include sm-l {
        font-size: 1.2rem;
        font-weight: bold;
    }

    & span {
        border-bottom: double $accentClr;
        padding: 0 2rem;

        @include sm-l {
                padding: 0 1rem;
        }

    }
}
.h3style-event{
    text-align: center;
    margin-bottom: 2.5rem;

    @include sm-l {
        font-size: 1.2rem;
        font-weight: bold;
    }

    & span{
        text-align: center;
        font-weight: bold;
        position:  relative;
        font-weight:  normal;
        padding-top: 2rem;
        padding-left: 1.5rem;

        &:before {
            content:  '';
            background-color: $subClr1;
            display:  block;
            position:  absolute;
            left:  0;
            height: 5rem;
            width: 5rem;
            border-radius:  50%;
            top: 0;
            z-index:  -1;
        }
    }
}

.common-link{
    text-decoration: underline;
    color: $linkClr;

    &:hover{
        color:$accentClr2;
    }
}


.card-column1-less-md{
    columns:1;
    @include md-g {
        columns:2;
    };
}

// index.html
.news img{
    max-width: 250px;
}

// news.html
.news-layout{
    width: 100%;
    @include sm-g {
        width: 100% !important;
    }
    @include xl-g {
        width: 49.5% !important;
    }

    & img {
        max-height: auto;
        max-width: 100%;
    }

    &:nth-child(2n + 1){
        @include xl-g {
            margin-right: 1%;
        };
    }
}

//evnet.html
.event-layout{
    width: 100%;
    @include sm-g {
        width: 49.5% !important;
    }
    @include xl-g {
        width: 32.5% !important;
    }

    & img {
        max-height: auto;
        max-width: 100%;
    }

    &:nth-child(3n + 1) , &:nth-child(3n + 2){
        @include xl-g {
            margin-right: 1.25%;
        };
    }
}

.greeting-padding{
    padding: 0 !important;

    & div {
        padding: 2rem !important;
        // @include xl-g {
        // max-width: 880px;
        //暫定
        @media (min-width: 1660px) {
            padding: 2rem calc(50% - 880px / 2) !important;
            // max-width: 880px;
        }
        // }
    }
}

//temp
.seminar{

    & li {
        margin-top: 1rem;
    }

}

.theme{

    &-h3{
    text-align: center;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    }

    &-card {
    width: 100%;
    // @include sm-g {
    //     width: 49.5% !important;
    // }
    // @include xl-g {
    //     width: 32.5% !important;
    // }

    & img {
        max-height: auto;
        max-width: 100%;
        min-width: 30px;
    }

    &:nth-child(3n + 1) , &:nth-child(3n + 2){
        @include xl-g {
            margin-right: 1.25%;
        };
    }
    }
}



// ============= list-style: none ===============
.list-style-none{list-style: none;}


// ============= main visual ===============

.video {

    &-bg-wrap {
        position: relative;
        overflow: hidden;
        @include wh(100%, 500px);
        background: url($videoSubstituteImage) no-repeatat center center/cover;
    }


    &-entity {
        min-width: 100%;
        min-height: 100vh;
        // height: 50vh;
        z-index: 1;

        @if $GraphicPerformanceImprovement==true {

            // ブラウザに事前通知して、アニメーションパフォーマンスを改善。GPUレンダリング予告かな。低スペでのパフォーマンスは要テスト。
            .ex-motion {
                transform: translate3d(0, 0, 0);
            }
        }

    }

    &-overlay {
        @include wh(100%, 500px);
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(45deg, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, .7) 50%);
        background-size: 3px 3px;
        z-index: 2;
    }

    &-upperlayer {
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 3;
        height: 50px;
        @include heroFont();

        &-text {
            max-width: 500px;
            width: 100%;
            color: #fff;

            font-size: 6rem;

            @if $debug_mode==true {
                //display: none;
            }

            @else if $debug_mode==false {
                display: none;
            }

            @else {
                display: none;
            }

            &-main,
            &-sub {
                text-align: left;
                max-width: 400px;
                width: 100%;
                color: #ddd;
            }

            &-main {
                margin: 190px auto 0;
                font-size: 4.5rem;
                line-height: 1;

                @include xl-l {
                    margin-right: 25%;
                }

                @include lg-l {
                    margin-right: 14%;
                    font-size: 4.4rem;
                }

                @include md-l {
                    text-align: center;
                    margin-top: 330px;
                    margin-right: auto;
                    font-size: 3rem;
                }
            }

            &-sub {
                text-align: left;
                padding-top: 0.3rem;
                padding-left: .4rem;
                margin: 325px auto 0;
                font-size: 1rem;

                @include xl-l {
                    margin-right: 25%;
                }

                @include lg-l {
                    margin-right: 14%;
                    // font-size: 4.4rem;
                }

                @include md-l {
                    text-align: center;
                    margin-top: 420px;
                    margin-right: auto;
                    font-size: .8rem;
                }
            }

            &-contact {
                // max-width: 500px;
                // width: 100%;
                margin-top: 80px;
                margin-right: 8%;
                width: 120px;
                height: 40px;
                line-height: 40px;
                color: #fff;
                font-size: 1rem;
                border: 1px #fff solid;
                border-radius: 3px;

                @include md-l {
                    display: none;
                    // margin-top: 10%;
                    // margin-right: 10%;
                }
            }
        }

            &-img {
                max-width: 200px;
                max-height: #{200 * $logoLgX2Yratio}px;
                // min-width: 100px;
                // min-height: #{100 * $logoLgX2Yratio}px;
                width: $logoLgX;
                height: $logoLgY;
                margin-left: 8%;
                margin-bottom: 90px;

                @include md-l {
                    margin: 80px auto;
                    font-size: 3rem;
                }

            }
        }
    }


// ============= animation class ===============
.main-logo-anim {
    // animation-name: fadein-soft_flicker;
    // display: none;

    @if $GraphicPerformanceImprovement==true {
        // ブラウザに事前通知して、アニメーションパフォーマンスを改善。GPUレンダリング予告かな。低スペでのパフォーマンスは要テスト。
        .ex-motion {transform: translate3d(0, 0, 0);}
        // こちらは具体的なアニメーションを指示。要CanIuse
        will-change: opacity;
    }

    animation: fadein-soft_flicker 3.5s ease-in 0s 1,
                gray2color 3s linear 0.3s 1,
                logo-zoom 2.4s linear 0s;
}

.main-text-anim {
    // animation-name: fadein-soft_flicker;
    // display: none;

    @if $GraphicPerformanceImprovement==true {
        // ブラウザに事前通知して、アニメーションパフォーマンスを改善。GPUレンダリング予告かな。低スペでのパフォーマンスは要テスト。
        .ex-motion {transform: translate3d(0, 0, 0);}
        // こちらは具体的なアニメーションを指示。要CanIuse
        will-change: opacity;
    }

    animation: fadein-soft_flicker 3.5s ease-in 0s 1,
               gray2color 3s linear 0.3s 1;
               // logo-zoom 2.4s linear 0s;
}

.sub-text-anim {
    // animation-name: fadein-soft_flicker;
    // display: none;

    @if $GraphicPerformanceImprovement==true {
        // ブラウザに事前通知して、アニメーションパフォーマンスを改善。GPUレンダリング予告かな。低スペでのパフォーマンスは要テスト。
        .ex-motion {transform: translate3d(0, 0, 0);}
        // こちらは具体的なアニメーションを指示。要CanIuse
        will-change: opacity;
    }

    animation: fadein 3.0s ease-in 0s 1;
}


.nav-anim{
    @include hover-underline($type: slide, $dir: right-in-left, $weight: $underLineWeight, $color: #eee);

    &-twitter:hover{
        color: $twitterClr;
    }
}


.effect-mono {
    filter: grayscale(100);
    transition: filter 0.2s;

    &:hover {
        filter: grayscale(0);
    }
}

.btn {
    /* 通常時の明るさ(デフォルト値) */
    filter: brightness(1);
    transition: filter 0.3s;

    &:hover {
        /* マウスオーバー時に明るくする */
        filter: brightness(1.15);

        &:active {
            /* マウスダウン時に暗くする */
            filter: brightness(0.85);
        }
    }
}

.effect-blur-thumb {
    transition: all 0.3s ease;
    width: 100%;

    &:hover &-thumb {
        /* ホバー時にボカシと明るさを調整する */
        filter: blur(8px) brightness(1.5);
        /* 境界線の見栄えを改善するために拡大も入れておく */
        transform: scale(1.1);
    }
}


// ============= twitter ===============

// twitter dom test
// .SandboxRoot.env-bp-970 .timeline-Tweet-text {
//     font-size: 10.5pt !important;
//     line-height: 14pt!important;
//     color: #900;

//     }

// .SandboxRoot.env-bp-820 .timeline-Tweet-text {
//     font-size: 10.5pt !important;
//     color: #900;
//     line-height: 14pt!important;
//     }

// .timeline-Tweet-author ,p.timeline-Tweet-text {
//     font-size: 105pt !important;
//     line-height: 14pt!important;
//     color: #900;
//     }
//
// .SandboxRoot .env-bp-820 .timeline-Tweet-text {
//     font-size: 233px!important;
//     color: #900;
// }

.aside-margin {
    margin-right: -15px;

    @include xl-g {
        margin-right: 3vw;
    }

    ;
}

.twitter-wrap {
    width: 85%;
    margin: 0px auto 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

    @include md-g {
        max-width: calc(640px + 2rem + 2rem);

    }
    @include xl-g {
        width: 100%;
    }
    // border: 3px solid $subClr1;
    // box-shadow: 0px 2px 2px rgba(0, 0, 0, .4);

    & h2 {

        @include lg-l {
            margin: 2rem auto;
        };

    }

    & iframe {

        height: 50vh !important;

        @include sm-g {
            height: 960px !important;
        }

        ;

        @include xl-g {
            height: 1280px !important;
        }

        ;
    }
}


.menu {
    width: 320px;
    // position: fixed;
    top: 0px;
    z-index: 100;
}

.main {
    height: 100%;
    padding: 0 0 0 320px;
    overflow: auto;
}

.text-section {
    max-width: calc(640px + 2rem);
}
.textarea-back{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: $textBackClr;
    padding: 2rem;
}

.activity {

    &-menu {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-bottom: 1rem;

        @include md-g {
            display: block;
            padding-left: 0;
            padding-right: 1.75rem;
        };

        & a {
            width: 50%;
            padding: 0.2rem .5rem;
            font-size: 0.8rem;

            @include md-g {
                width: 100%;
                padding: 0.7rem 0 0.7rem 1.2rem;
                font-size: 1rem;
            };

        }

    }

    &-contents {
        overflow: auto;
        height: calc(80vh - 100px);

        @include sm-g {
            height: calc(95vh - 100px);
            min-height: 400px;
        };

        & ol, & ul{
            padding-left:2rem;
            margin-left:1rem;
            margin-bottom:1rem;
        }

        & li {
            padding-bottom: 2rem;
        }

    }
    &-border {
        border:1px solid rgba(#000,0.125);
        border-radius: 0.25rem;
        background: #fff;
        padding-right: 0px;

        & h3{
            margin-top: 1rem;
        }
    }
}

.list-group-item {

    &:first-child {
        @include sm-l {
            border-top-right-radius: 0rem;
        }

        ;
    }

    &:last-child {
        @include sm-l {
            border-bottom-left-radius: 0rem;
        }

        ;
    }


    &.active {
        z-index: 2;
        color: $fClr;
        background-color: $themeClr;
        border-color: $themeClr;
    }


    &-action:hover,
    &-action:focus {
        z-index: 1;
        color: #495057;
        text-decoration: none;
        background-color: $subClr1;
    }
}

// ============= member ===============
.imgprof{
    text-align: center;
    margin-bottom: 3rem;
    & img {
        width: 95%;
        height: auto;
        max-width: 200px;
        border-radius: 0.25rem;
    }
}

.imgphoto{
    text-align: center;
    & img {
        width: 95%;
        height: auto;
        max-width: 640px;
    }
}


.prof{
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    & td:nth-child(1){
        width: 25%;
        vertical-align: middle;
        display: inline;
    }
    & td:nth-child(2){
        width: 75%;
        @include sm-l {
            padding-left: 20px;
        }
    }

    & th{
        padding-bottom: 1rem;
        // border-bottom: 1px solid red;
    }

    & td{
        padding-bottom: .75rem;
    }

    &-name {
        padding: 0 15px;

        @include md-g {
            padding-left: 7%;
        }

        @include xl-g {
            padding: 0 15px;
        }

    }


}

.staff{
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    & td:nth-child(1){
        width: 25%;
    }
    & td:nth-child(2){
        width: 75%;
    }

    & th{
        padding-bottom: 1rem;
        // border-bottom: 1px solid red;
    }

    & td{
        padding-bottom: .75rem;
    }


}

.active-member{
    width: 100%;
    margin-left: 15%;
    margin-right: 5%;

    & td:nth-child(1){
        width: 40%;
    }
    & td:nth-child(2){
        width: 40%;
    }
    & td:nth-child(3){
        width: 1px;
    }

    & th{
        padding-top: 1.25rem;
        padding-bottom: 0.2rem;
        // border-bottom: 1px solid red;
    }

}

.member{
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    & td:nth-child(1){
        width: 25%;
    }
    & td:nth-child(2){
        width: 35%;
    }
    & td:nth-child(3){
        width: 40%;
    }
        @include sm-l {
            font-size: 0.8rem;
        }

    & th{
        padding-top: 1.25rem;
        padding-bottom: 0.2rem;
        // border-bottom: 1px solid red;
    }
}

// ============= footer ===============

.container-max {
    max-width: 1500px !important;
}