
@for $i from 2 through 14 {
    .w-#{$i}r {
        width:#{$i}rem;
    }
    .h-#{$i}r {
        height:#{$i}rem;
    }
}

@for $i from 1 through 10 {
    .lh-#{$i} {
        line-height:#{$i} !important;
    }
    .lh-#{$i}r {
        line-height:#{$i}rem !important;
    }
}

@for $i from 1 through 20 {
    .minw-#{$i * 50} {
        min-width:#{$i * 50}px !important;
    }
    .maxw-#{$i * 50} {
        max-width:#{$i * 50}px !important;
    }
    .w-#{$i * 50} {
        width:#{$i * 50}px !important;
    }
    // height
    .minh-#{$i * 5}v {
        max-height:#{$i * 5}vh !important;
    }
    .minh-#{$i * 50} {
        min-height:#{$i * 50}px !important;
    }
    .h-#{$i * 5}v {
        height:#{$i * 5} !important;
    }
    .w-#{$i * 5}per {
        width: #{$i * 5}#{'%'} !important;
    }
    .h-#{$i * 5}per {
        height: #{$i * 5}#{'%'};
    }
    .h-#{$i * 50} {
        height: #{$i * 50}px;
    }
    .h-#{$i} {
        height: #{$i}px;
    }
    .h-#{$i + 20} {
        height: #{$i + 20}px;
    }
    .fw-#{$i * 5}per {
        flex: 0 0 #{$i * 5}#{'%'};
        max-width: #{$i * 5}#{'%'};
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .fw-lslg-#{$i * 5}per {
        @include lg-l {
            flex: 0 0 #{$i * 5}#{'%'};
            max-width: #{$i * 5}#{'%'};
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    .fw-lsmd-#{$i * 5}per {
        @include md-l {
            flex: 0 0 #{$i * 5}#{'%'};
            max-width: #{$i * 5}#{'%'};
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

}


@for $i from 1 through 8 {
  $font-size: percentage(1 / $i);
  .ftest-#{$i} {
    font-size: $font-size;
  }
}

@for $i from 1 through 40 {
  $font-size: ($i / 20);
  .fz-#{$font-size * 100}r {
    font-size: #{$font-size}rem !important;
  }
}

@for $i from 1 through 20 {
  $font-size: ($i * 10);
  .fz-#{$font-size}per {
    font-size: #{$font-size}\% !important;
  }
}
