@use "my_mixins" as mix;
@import "my_variables", "my_mixins", "my_common_style", "fonts";

$imagesPath: "../images/";
@function imgUrl($fileName) {
  @return url($imagesPath + $fileName);
}


// ============= gloabal scope variables ===============
$mainVisualHeight: 50vh;
$secondVisualHeight: 200px;
$globalNavWidth: 990px;
$globalNavHeight: 80px;
$circleNavDiameter:100px;
$circleNavInitX: -200px;
$circleNavSplitX: 50px;
$sideTabHeight:3.5rem;
$gotoTopHeight: 50vh;
$sideTabWidth: 10rem;
$sideTabClr: #444;

$containerWidth: 1200px;
$clrMain:#432;
$clrMainLight: lighten($clrMain, 5%);
$clrSub1:#fff4ea;
$clrSub2:#6b6155;
$clrSub3: darken($clrSub2 , 15%);
$clrText: #eee;
$carmine: #BE0039;
$purple: #a03c8c;
$clrFormIncorrect:red;
$clrFormCorrect:#95fe72;
$clrActivePage: darken($carmine ,10%);
$clrMap:(
    'hr': $clrMain,
    'text': $clrText,
    'main': $clrMain,
    'mainHover': $clrMainLight,
    'sub1': $clrSub1,
    'sub2': $clrSub2,
    'sub3': $clrSub3,
    'accent': $carmine,
    'btn': $clrSub2
);
// $snsColor: (
//   'twitter' : #55acee,
//   'facebook': #3b5998
// );
// map-get($snsColor, 'twitter')
$clrAccent: #ffffff;
$frameThick: 5px;


// ============= test section ===============
$prefix: ".maku";

#{$prefix}-shout {
  font-size: larger;
}

// $icons: "twitter" ,"facebook" ,"googleplus" ,"instagram";

// @each $icon in $icons {
//     .icon-#{$icon} {
//         background-image: url("img/#{$icon}.png");
//     }
// }

$icons: twitter, facebook, googleplus, instagram;
@each $icon in $icons {
    // インデックスキーを取得
    $index: index($icons, $icon);
    // 高さを指定
    $heigth: 50px;
    // 2つ目から50pxずつ引いてゆく
    $position: ($index * $heigth - $heigth) * -1;

    .icon-#{$icon} {
        background-position: left $position;
    }
}

// コンパイル後（CSS）
.icon-twitter {
    background-position: left 0px;
}
.icon-facebook {
    background-position: left -50px;
}
.icon-googleplus {
    background-position: left -100px;
}
.icon-instagram {
    background-position: left -150px;
}

//配列をひとつずつ取得したい場合は nth関数 を使います。
.twitter {
    // リストの1番目を取得
    content: "#{nth($icons, 1)}"; // twitter
}

// //classの継承
// %box-base {
//   margin: 10px;
//   padding: 10px;
// }

// .box_red {
//   @extend %box-base;
//   color: #f00;
// }

// .box_blue {
//   @extend %box-base;
//   color: #00f;
// }

// // Mixinでもいい。CSSへの展開の仕方が違うが、効果は同じ
// @mixin basebox {
//   margin: 10px;
//   padding: 10px;
// }
// .box_red {
//   @include mix.basebox;
//   color: #f00;
// }

// .box_blue {
//   @include mix.basebox;
//   color: #00f;
// }

// 関数も使用できる
// $imagesPath: "../images/";
// @function printUrl($fileName) {
//   @return url($imagesPath + $fileName);
// }

// .icon {
//   background: printUrl('icon.png') no-repeat center center;
// }
// // 出力
// .icon {
//   background: url("../images/icon.png") no-repeat center center;
// }

// if文もあるよ
// @for $i from 1 through 5 {
//   .box_#{$i} {
//     margin: {
//       // 普通の分岐
//       @if $i == 1 {
//         bottom: 5px;
//       }
//       @else {
//         bottom: $i * 10px;
//       }
//     }
//     // if関数まである
//     padding: {
//       left: if($i == 1, 5px, $i * 5px);
//     }
//   }
// }

// // 出力
// .box1 {
//   margin-bottom: 5px;
//   padding-left: 5px;
// }

// .box2 {
//   margin-bottom: 20px;
//   padding-left: 10px;
// }


// ============= tag scope ===============


*{
    box-sizing: border-box;
    &::after , &::before{
        box-sizing: border-box;
    }
    outline: gray 4px;
    // visibility: hidden;
}
html {
  font-size: 100%;
}

body {
    margin: 0;
    background-color: $clrSub2;
    // z-index: 0;
    // visibility:hidden;
}


h2,h3{
    margin: 0;
    color: map-get($clrMap, 'text');
}

a {
    // color: $fClr;
    text-decoration: none;
}

li, p, dd, dt, h3, h4 {
    font-family: 'Sawarabi Mincho', sans-serif;
    // font-weight: 200;
    //font-family: 'Noto Serif JP', serif;
}

p{
    color: map-get($clrMap, 'text');
}

dt {
    color: map-get($clrMap, 'text');
}
dd {
    color: #000;
}


// ============= bs4で代替可能 ===============
// 名前毎流用(HTMLのクラス名そのままで入れ替え可能)
.d-none{
    display: none;
}

.d-block {
    display: block;
}

.d-inline{
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.mb-0,.my-0{
    margin-bottom: 0px !important;
}

.my-0{
    margin-top: 0px !important;
}

.h-100p{
    height: 100%;
}

@for $i from 0 through 10 {
  .mt-#{$i} {
    margin-top: #{$i}rem !important;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}rem !important;
  }
  .ml-#{$i} {
    margin-left: #{$i}rem !important;
  }
  .mr-#{$i} {
    margin-right: #{$i}rem !important;
  }
  .mx-#{$i} {
    margin-left: #{$i}rem !important;
    margin-right: #{$i}rem !important;
  }
  .my-#{$i} {
    margin-top: #{$i}rem !important;
    margin-bottom: #{$i}rem !important;
  }
  .pt-#{$i} {
    padding-top: #{$i}rem !important;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}rem !important;
  }
  .pl-#{$i} {
    padding-left: #{$i}rem !important;
  }
  .pr-#{$i} {
    padding-right: #{$i}rem !important;
  }

  .px-#{$i} {
    padding-left: #{$i}rem !important;
    padding-right: #{$i}rem !important;
  }
  .py-#{$i} {
    padding-top: #{$i}rem !important;
    padding-bottom: #{$i}rem !important;
  }
}

.mx-auto{
    margin-right: auto !important;
    margin-left:auto !important;
}

.my-auto{
    margin-top: auto !important;
    margin-bottom:auto !important;
}

.m-0auto{
    margin: 0 auto;
}

// .h-100{
    // height: 100%;
    //移動すべき記述
    // text-align: center;
    // line-height: 5;
// }

.container{
    margin: 0 auto;
    max-width: $containerWidth;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid{
    margin: 0 auto;
    width: 100%;
}

.fl-l{
    float: left;

    &::after {
        clear: both;
    }
}

.fl-r{
    float: right;

    &::after {
        clear: both;
    }
}

.pos-a{
    position: absolute;
}
.pos-f{
    position: fixed;
}
.pos-r{
    position: relative;
}
.pos-s{
    position: static;
}
.ta-l{
    text-align: left;
}

.ta-c{
    text-align: center;
}

.ta-r{
    text-align: right;
}

.d-n-ls-md{
    @include mix.md-l {
        display: none;
    }
}

.d-n-ls-lg{
    @include mix.lg-l {
        display: none !important;
    }
}

.d-n-gr-md{
    @include mix.md-g {
        display: none;
    }
}

.d-n-gr-lg{
    @include mix.lg-g {
        display: none;
    }
}

.fx-AI-start{
    align-items: start !important;
}

// grid layoutで対応可能
.d_flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-betwen;
    align-items: center;
    // align-items: center;

    & > img{
        // flex:0 1 auto;
    }
}


// ============= js用パーツ ===============
.nav_active_page{
    background-color: $clrActivePage;
    // animation: key-opacity ease 100ms 0ms 1 normal forwards running;
    transition: 300ms;
}

.nav_active_anchor{
    background-color: #69f;
    // animation: key-opacity ease 100ms 0ms 1 normal forwards running;
    transition: 300ms;
}

.hidUntilOnload{
    visibility: hidden;
}

//コンテナをウインドウ幅(フルサイズ)とするためオミット
.Li5Width{
    width: 100%;
    //優先度の関係で属性セレクタとする
    & li[id^="gnav"]{
        &:not(:last-of-type){
            width: calc(100% / 5);
        }
        &:last-of-type{
            width: calc(100% / 5);
        }
    }
}

.fadeInL2R,.fadeInR2L{
    animation: key-content-fadein 0.3s ease-in 0s 1 normal forwards;
}


// ============= common ===============
.bgc_main{
    background-color: map-get($clrMap, 'main')
}

.bgc_sub1{
    background-color: map-get($clrMap, 'sub1')
}

.bgc_sub2{
    background-color: map-get($clrMap, 'sub2')
}

.bgc_sub3{
    background-color: map-get($clrMap, 'sub3')
}

@mixin bgc_sub1{background-color: map-get($clrMap, 'sub1')}
@mixin bgc_sub2{background-color: map-get($clrMap, 'sub2')}
@mixin bgc_sub3{background-color: map-get($clrMap, 'sub3')}
@mixin clr_sub1{color: map-get($clrMap, 'sub1')}
@mixin clr_sub2{color: map-get($clrMap, 'sub2')}
@mixin clr_sub3{color: map-get($clrMap, 'sub3')}

.clr_main{
    color: $clrMain;
}

.clr_sub1{
    color: map-get($clrMap, 'sub1')
}

.clr_sub2{
    color: map-get($clrMap, 'sub2')
}

.clr_sub3{
    color: map-get($clrMap, 'sub3')
}



@mixin fonts() {
    font-family: 'Sawarabi Mincho', sans-serif;
}
@mixin fonts_eng() {
    font-family: 'Tangerine', cursive;
}


.ff_theme{
    @include fonts;
}


.button {
  border-radius: 1px;
  background-color: map-get($clrMap, 'main');
  box-shadow: 0 6px map-get($clrMap, 'btn');

    & a{
      color: map-get($clrMap, 'text');
      font-size: 2rem;
      display: block;
      @include fonts_eng;
      padding-bottom: 0.3rem;
    }

    &:hover {
        box-shadow: 0 5px map-get($clrMap, 'btn');
        top: 1px;
        opacity: 0.9;
    }
    &:active {
        box-shadow: 0 0 map-get($clrMap, 'btn');
        top: 6px;
    }
}


.button3 {
  border-radius: 2px;
  box-shadow: 0 6px map-get($clrMap, 'btn');

    &:hover {
        box-shadow: 0 5px map-get($clrMap, 'btn');
        top: 1px;
    }
    &:active {
        box-shadow: 0 0 map-get($clrMap, 'btn');
        top: 6px;
    }
}

.button-slide {
    border: 3px solid $carmine;
    background-color: transparent;
    color: #fff;
    transition: 1000ms all;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: $carmine;
        position: absolute;
        left: 0;
        top: 0;
        transition: 1000ms all;
        transform-origin: 50% 50%;
        z-index: -1;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 1000ms;
        transform: scale(1, 0);
        transform-origin: 0 50%;
        opacity: 0;
        z-index: -1;
    }

    &:hover {
        color: $carmine;
        transition: all 1000ms;
    }

    &:hover::after {
        transform: scale(1, 1);
        opacity: 1;
        transition: all 1000ms;

    }
}

.sticky_menu {
    padding: 0;
    margin: 0;
    width: 100%;
    height: $globalNavHeight;
    background-color: #999;
    top: $mainVisualHeight;
    left: 0;
    // jsで付与
    // position: fixed;

}

.goto_top_tag {
    padding: 0 1.2rem 0 0;
    width: $sideTabWidth;
    height: $sideTabHeight;
    background-color: $sideTabClr;
    z-index: 9998;

    &:hover{
        background-color: lighten($sideTabClr, 5%);
    }

    top: $gotoTopHeight;
    left: calc(100% - 3rem);
    /*中心回転から起点を中心から左上に*/
    transform-origin: 0% 0%;
    transform: rotate(-90deg);
    position: fixed;
    display: none;
    border-radius: 0.4rem 0.4rem 0.1rem 0.1rem;

    & > a {
        margin: 0;
        padding-right: 20px;
        width: $sideTabWidth;
        height: $sideTabHeight;
        color: $fClr;
        text-align: center;
        line-height: $sideTabHeight - 0.5rem;
        text-decoration: none;
    }

    &::after {
        position: absolute;
        content: '';
        border-top: 2px solid $fClr;
        border-right: 2px solid $fClr;
        top: 18px;
        right: 33px;
        width: 0.6rem;
        height: 0.6rem;
        transition: 0.5s;
        transform: rotate(45deg);
    }

    &:hover::after {
        right: 23px;
    }
}

.circle_nav {

    & li {
        width: $circleNavDiameter;
        height: $circleNavDiameter;
        border-radius: $circleNavDiameter / 2;
        background:  map-get($snsColor, 'twitter');
        margin: 0 0.3rem;

        @include mix.md-g {
            margin: 0 0.6rem;
        }

        &:hover{
            // opacity: 0.9;
            transform:scale(1.00,0.95);
        }

    }

    & li{
        position: absolute;
        // 初期位置が画面外のため、サイドスクロールバー出るのを防止
        overflow:hidden;
        // 処理不可の高いタイミングを避けるためディレイを設ける
        animation: key-circle-all 500ms linear 500ms 1 normal forwards running;
    }

    & li:nth-child(1){animation: key-circle-slide1 1100ms ease-out 1000ms 1 normal forwards running;}
    & li:nth-child(2){animation: key-circle-slide2 0900ms ease-out 1000ms 1 normal forwards running;}
    & li:nth-child(3){animation: key-circle-slide3 0700ms ease-out 1000ms 1 normal forwards running;}
    & li:nth-child(4){animation: key-circle-slide4 0500ms ease-out 1000ms 1 normal forwards running;}
    // & li:nth-child(5) a{animation: key-circle-slide5 0300ms ease-out 1000ms 1 normal forwards running;}
    & a {
        position: absolute;
        width: $circleNavDiameter;
        height: $circleNavDiameter;
        border-radius: $circleNavDiameter / 2;
        // top: 50%;
        // left: 50%;
        // transform: translateY(-15%) translateX(-50%);
        // color: $fClr;
        // text-decoration: none;
        text-align: center;
        font-size: 1.2rem;
        line-height: $circleNavDiameter;

        &:hover{
            opacity: 0.9;
        }
    }
}

$imgSizeKurageX: 300px;
$imgSizeKurageY: 200px;

.image_hover{
    &_base{
        position: relative;

        & img{
            width: $imgSizeKurageX;
            height: $imgSizeKurageY;
            margin: 15px;
            padding: 0;
            box-sizing: content-box;
        }
        &:hover{
            // content:"textoverlay";
            // opacity: 0;
        }
    }
    &_text{
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        margin: 0;
        margin: 15px;
        width: $imgSizeKurageX;
        height: $imgSizeKurageY;
        z-index: 1;
        opacity: 0;
        color:$fClr;
        background-color: #008;
        text-align: center;
        overflow: hidden;
        transition: 300ms opacity ease 0ms;

        &:hover{
            // animation: image_text_overlay 600ms ease-out 0s 1 normal forwards running;
            opacity:1;
            transition: 600ms opacity ease 0ms;
        }
    }
}

.img_shadow_white{
    // border: 5px solid #666;
    box-shadow:inset 0px 0px 20px rgba(255,255,255,.8);

    & img{
        display: block;
        position: relative;
        z-index: -1;
    }
}

// ============= header ===============
// mobile時のフッターナビも内包
.global_menu {
    background-color: map-get($clrMap, 'main');

    & ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        // width: 100%;
        // background-color: map-get($clrMap, 'main');
        max-width: $globalNavWidth;
        height: $globalNavHeight;
        top: $mainVisualHeight;
        left: 0;
        // jsで付与
        // position: fixed;
        text-align: center;

        @include mix.lg-l {
            margin: 0 !important;
            height: 4rem;
            position: fixed;
            z-index: 999;
            top: auto;
            bottom: 0px;
            width: 100%;
            box-shadow: 0px 0px 2px 1px #0005;
        }
    }


    & li {
        list-style: none;
        height: 100%;
        // box-shadow: -3px -3px 5px 0px #0005 inset;
        transition: 500ms;
        width: $containerWidth / 5 - 50;
        // width: $globalNavWidth / 5;
        background-color: map-get($clrMap, 'main');
        @include mix.lg-l {
            width: calc(100% / 5);
        }

        &:hover {
            // background-color: map-get($clrMap, 'mainHover');
            transition: 500ms;
            opacity: 0.85;
        }

        & a {
            display: block;
            padding: 18px 0;
            line-height: 1;
            height: 100%;
            // color: $purple;
            color: map-get($clrMap, 'text');
            text-shadow: 0px 0px 4px $purple;
            text-align: center;

            @include mix.lg-l {
                padding: 14px 0;
            }
            @include mix.sm-l {
                font-size: 0.8rem;
            }
            &::after {
                padding: 4px;
                font-family: 'Tangerine', cursive;
                font-size: 2.2rem;
                line-height: 1;
                text-align: center;
                display: block;
                color: #c7b289;

                @include mix.lg-l {
                    font-size: 1.8rem;
                }
            }
        }
    }
}
#gnav1 > a::after{
    content: 'home';
}
#gnav2 > a::after{
    content: 'menu';
}
#gnav3 > a::after{
    content: 'course';
}
#gnav4 > a::after{
    content: 'access';
}
#gnav5 > a::after{
    content: 'message';
}

// ============= home ===============
.home_h2_style{
    letter-spacing: 0.5rem;
    font-weight: 1;
    // font-family: 'Great Vibes', cursive;
    // font-family: 'Tangerine', cursive;
    // font-family: 'Parisienne', cursive;
    // font-family: 'Italianno', cursive;
    // font-family: 'Allura', cursive;
    // font-family: 'Pinyon Script', cursive;
    // font-family: 'Alex Brush', cursive;
    // font-family: 'Petit Formal Script', cursive;
    // font-family: 'Herr Von Muellerhoff', cursive;
    // font-family: 'Mr De Haviland', cursive;
    font-family: 'Sawarabi Mincho', sans-serif;
    padding-left: 0;
    padding-right: 0;
    & span{
        transform: scale(0.8, 1);
    }
}

// hr tests
.hr {
    display: flex;
    align-items: center;
    text-align: center; /* for no-flexbox browsers */

    &:before, &:after {
        border-top: map-get($clrMap, 'hr') solid 1px;
        content: "";
        display: inline; /* for IE */
        flex-grow: 1;
    }
    &:before{
        margin-right: 0.5em;
    }
    &:after {
        margin-left: 0.5em;
    }

    &-fade {
        // background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
        background: linear-gradient(to left ,rgba(0,0,0,0), map-get($clrMap, 'main') 50%, rgba(0,0,0,0));
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: 100% 2px;
        padding: 10px;
    }
}


.hr-r {
    display: flex;
    align-items: center;
    text-align: left; /* for no-flexbox browsers */

    &:after {
        border-top: map-get($clrMap, 'hr') solid 1px;
        content: "";
        display: inline; /* for IE */
        flex-grow: 1;
    }
    &:after {
        margin-left: 0.5em;
    }
}



.pdauto{
    @include mix.lg-g {
        padding: {
            // top:calc(5%);
            left:calc(10%);
            // bottom: auto;
            right:auto
        }
    }
    @include mix.lg-l {
        padding-left: auto;
    }
}


// ============= access ===============
.dltable {
    & dl {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #ccc;
        border-top: none;
        // box-shadow: 0px 2px 2px rgba(0, 0, 0, .4);

    }

    & dt {
        background: $clrMain;
        width: 12rem;
        @include mix.md-l {
            width:100%;
            display: block;
        };
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & dd {
        background: $clrSub1;
        // border-left: 1px solid #ccc;
        margin: 0;
        width: calc(100% - 12rem);
        width : -webkit-calc(100% - 12rem) ;
        @include mix.md-l {
            width:100%;
        };
    }
    & dt, & dd{
        padding: 0.8rem;
        box-sizing: border-box;
        border-top: 1px solid #ccc;
    }
}

// ============= menu ===============
.menu_table {
    & dl {
        display: flex;
        flex-wrap: wrap;
        // border: 1px solid #ccc;
        border-top: none;
        width: 100%;
        background-color: map-get($clrMap, 'sub3');
        color: map-get($clrMap, 'sub1');
        // box-shadow: 0px 2px 2px rgba(0, 0, 0, .4);
    }

    & dt {
        // background: $clrMain;
        width: 32%;
        @include mix.md-l {
            width:70%;
            display: block;
            padding: 1rem !important;
        };
        justify-content: start;
        align-items: center;

        &:nth-of-type(even){
            padding-left: 3rem;
        }

        // &:nth-of-type(2){
        //     border-bottom: 1px solid #ccc;
        // }
    }

    & dd {
        text-align: right;
        // background: $clrSub1;
        // border-left: 1px solid #ccc;
        margin: 0;
        width: 18%;
        justify-content: end;
        align-items: center;

        @include mix.md-l {
            width:30%;
            padding: 1rem !important;
        };

        &:nth-of-type(odd){
            padding-right: 3rem;
        }

    }
    & dt, & dd{
        // height: 3.6rem;
        color: map-get($clrMap, 'text');
        padding: 0.8rem;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;

        @include mix.md-g {
            &:nth-of-type(4n-3),&:nth-of-type(4n-2){
                background-color: map-get($clrMap, 'hr');
            }
        }

        @include mix.md-l {
            padding: 0.2rem !important;

            &:nth-of-type(2n-1){
                background-color: map-get($clrMap, 'hr');
            }
        }

    }
}


// ============= mainVisual ===============
.main_vis{

    &_wrap{
        position: relative;
        width: 100%;
        height: $mainVisualHeight;
        background: {
            image: imgUrl("gyu-lamp.jpg");
            repeat: no-repeat;
            size: cover;
            position: bottom 40% left 50%;
        }
        // background: no-repeat center/80% imgUrl("gyu-lamp.jpg");
        filter:brightness(70%);

        &_second {
            position: relative;
            width: 100%;
            height: $secondVisualHeight;
            background: {
                image: imgUrl("gyu-lamp.jpg");
                repeat: no-repeat;
                size: cover;
                position: bottom 40% left 50%;
            }
            filter:brightness(70%);
        }

        & img{
            width: 100%;
        }
    }


    &_text{

        // &:before{
        //     content:'';
        //     position: relative;
        // }

        position: absolute;
        top: $mainVisualHeight / 2;
        left: 50%;
        transform:translateX(-50%) translateY(-50%);
        // font-family: 'Great Vibes', cursive;
        font-family: 'Tangerine', cursive;
        // font-family: 'Parisienne', cursive;
        // font-family: 'Italianno', cursive;
        // font-family: 'Allura', cursive;
        // font-family: 'Pinyon Script', cursive;
        // font-family: 'Alex Brush', cursive;
        // font-family: 'Petit Formal Script', cursive;
        // font-family: 'Herr Von Muellerhoff', cursive;
        // font-family: 'Mr De Haviland', cursive;
        font-size: 7rem;
        font-weight: 1000;
        color: #FFF;
        text-shadow: 1px 1px 3px #0005;
        z-index: 2;
        width: 100%;

        &::first-letter{
            font-size: 8rem;
            color: $carmine;
        }

        & span{
            color: $carmine;
        }

        @include mix.sm-l {
            font-size: 5rem;

            &::first-letter{
                font-size: 6rem;
                color: $carmine;
            }
        }

        &_second {
            position: absolute;
            top: 100px;
            color: #fff;
        }
    }
}
.main_visual{
    // position: relative;
    height: 400px;

    // height: $mainVisualHeight;
    & .frame {
        position: relative;
        border: $frameThick solid $clrMain;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    & img {
        position: absolute;
        // width: $containerWidth - $frameThick * 2 -500px;
        // width: 930px;
        // height: 390px;
        top: 0%;
        filter:brightness(70%);
    }
}

$containerInnerWidth: 930px;
$catchCircleDiameter: 100px;
.catch_phrase{
    &_bg{
        position: absolute;
        top: -50px;
        left: $containerInnerWidth / 2;
        width: $catchCircleDiameter;
        height: $catchCircleDiameter * 4;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 0 30px 100px #fff;
        transform: translateX(-50%);
        z-index: 1;
    }
    &_text{
        text-orientation: mixed;
        writing-mode: vertical-rl;
        font-size: 2rem;
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
        transform: translateX(-50%) translateY(0%);

        & span {
            font-size: 3rem;
            color: $carmine;
        }

    }
}


// jstest.html
//  .catch_phrase{
//      position: absolute;
//      top: 100px;
//      left: calc(10vw + 100px);
//      font-size: 4rem;
//  }
//
//  .sub_nav{
//      position: absolute;
//      top: 280px;
//      right: 0px;
//  }
//
//

// ============= message ===============
.message {

    &_wrap {
        outline: 1px solid white;
        outline-offset: -6px;
        width: 100%;
        max-width: 1138px;
        max-height: 450px;
        min-height: 410px;
        height: 38vw;
        box-sizing: border-box;
        // font-size: 0;
        overflow: hidden;

        @include mix.lg-l {
            // height: 800px;
            max-height: 800px;
            height: auto;
        }
    }

    &_title {
        letter-spacing: 0.2rem;
        font-weight: 1;
        // font-family: 'Great Vibes', cursive;
        // font-family: 'Tangerine', cursive;
        // font-family: 'Parisienne', cursive;
        // font-family: 'Italianno', cursive;
        // font-family: 'Allura', cursive;
        // font-family: 'Pinyon Script', cursive;
        // font-family: 'Alex Brush', cursive;
        // font-family: 'Petit Formal Script', cursive;
        // font-family: 'Herr Von Muellerhoff', cursive;
        // font-family: 'Mr De Haviland', cursive;
        font-family: 'Sawarabi Mincho', sans-serif;
        padding-left: 0;
        padding-right: 0;
        transform: scale(0.8, 1);
        // width: 150%;
    }

    &_text {
        margin: 0;
        padding: 1rem;
        display: inline-block;
        background-color: map-get($clrMap, 'main');
        vertical-align: top;
        width: 35%;
        height: 100%;
        @include mix.lg-l {
            width: 100%;
            // height: 30%;
        }
    }

    &_image {
        display: inline-block;
        max-width: 800px;
        width: 65%;
        @include mix.lg-l {
            width: 100%;
            max-width: 100%;
        }
    }

}

// ============= section ===============
.imgBox{
    max-width: 800px;
    width: 100%;
    // display: inline;
}

$centerTextHeight: 80px;
.center_text{
    & p{
        height: 2px;
        margin: $centerTextHeight/2 0;
    }
    & h3{
        height: $centerTextHeight;
        line-height: $centerTextHeight;
        margin: 0;
        font-size: 1.5rem;
    }
}

.bg_subClr1{
    position: absolute;
    background-color: $clrSub1;
    z-index: -50;
    width: 100%;
    height: 800px;

    @include mix.lg-l {
        height: 700px;
    }
    @include mix.sm-l {
        height: 650px;
    }
}

.bg_subClr1_second {
    position: absolute;
    background-color: $clrSub1;
    z-index: -50;
    width: 100%;
    height: 350px;

    @include mix.lg-l {
        height: 250px;
    }
}

.line{
    // position: absolute;
    content:'';
    // top: 0.5rem;
    height: 2px;
    width: 100%;
    border-top: 1px solid $clrMain;
}

.home_content_text{
    color: map-get($clrMap, 'text');
    font-size: 1rem;
    line-height: 3;
}

.text_ls_lg_center{
    @include mix.lg-l {
        padding: 0 !important;
        text-align: center;
    }
}

.font_ls_sm{
    @include mix.sm-l {
        letter-spacing: 0.3rem;
    }
}

.px0_ls_md{
    @include mix.md-l {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.menu, .staff{

    & img{
        box-shadow: 4px 4px 5px #0005;
    }
}

// ============= oden ===============
$parallaxBgY: 800px;
$parallaxBgRatio: 2;

// with js
.parallax{
    &_background{
        position: relative;
        width: 100%;
        height: $parallaxBgY;
        overflow: hidden;

        &_entity{
            position: absolute;
            background:url('../images/kafun.jpg') repeat;
            width: 100%;
            height: $parallaxBgY * $parallaxBgRatio;
            // top: 0px;
            top: - ($parallaxBgY * ($parallaxBgRatio - 1));
            left: 0px;
            filter: blur(5px);
            // debug
            z-index: -20;
        }
    }
}

// ============= form ===============
// HTML5のフォームバリデーション
// :required
// :optional
// :valid
// :invalid
// JSのフォームバリデーション
// checkValidity
// formElement.addEventListener('invalid', function(){...}, true);と第3引数にtrueを入れる

// form ブラウザ依存属性リセット
input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form{
    display: inline-block;
}

input,select{
    margin: 0.3rem;
    // width: 200px;
    height: 2rem;
    // font-size: 1.5rem;
    // border: 2px solid green;
    // border-radius: 99px;
}

.inputCorrect{
    outline: 0;
    border: $clrFormCorrect 1px solid;
    box-shadow:0px 0px 2px 1px $clrFormCorrect;
}

.inputIncorrect{
    outline: 0;
    border: $clrFormIncorrect 1px solid;
    box-shadow:0px 0px 2px 1px $clrFormIncorrect;

    &+.errMsg{
        // width: 10rem;
        // height: 2rem;
        color: red;
        font-weight: bold;
        display: inline;

        &::before{
            content: "※";
        }
    }
}


.form_flex{
    & input[type="text"],& input[type="tel"],& input[type="email"],& select{
        margin: 0;
        width: 100%;

        @include mix.md-g {
            margin: 1rem 0;
            width: 70%;
        }
    }

    & textarea{
        margin: 0 0 2rem;
        width: 100%;
        height: 200px;

        @include mix.md-g {
        margin: 1rem 0 2rem;
            width: 70%;
        }
    }

    & p{
        text-align: left;
        margin: 1.4rem 0 0.3rem;
        width: 100%;

        @include mix.md-g {
            margin: 1rem 0;
            width: 30%;
        }
    }

    & .errMsg{
        margin: 4px 0 0;
        font-size: 0.8rem;
        text-align: left;
        width: 100%;

        @include mix.md-g {
            margin: 1rem 0;
            width: 100%;
        }
    }
}

.h_200_gr_sm{
    height: 100%;

    @include mix.md-g {
        height: 200px;
    }
}



input[type="submit"] {
    font-size: 1.0em;
    display: block;
    border: none;
    outline: 0;
    cursor: pointer;
    color: #fff;
    background: #555;
    font-weight: bold;
    height: 3.0em;
    line-height: 3.0em;
    width: 100%;
    padding: 0 2.5em 0 0.8em;
    transition: 0.3s;
    border-radius: 2px;


    &:hover {
        background: #134767;
    }
}

.button_wrap {
    color: #fff;
    position: relative;
    line-height: 2.8em;
    width: 190px;
    transition: 0.5s;
    margin: 0 auto;

    &::after {
        transition: 0.3s;
        content: "";
        width: .6em;
        height: .6em;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        position: absolute;
        top: 23px;
        right: 66px;
        margin: auto;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform:translateY(-10%) rotate(45deg);
    }

    &:hover::after {
        right: 52px;
    }
}



// ============= footer ===============

.footer {

    &_nav{

    }

    &_copy{

        &_style{
            // font-weight: 550;
            font-size: 1rem;
            letter-spacing: 0.8rem;
            // text-transform: uppercase;
            color: map-get($clrMap, 'text');

            @include mix.md-l {
                font-size: 0.8em;
                letter-spacing: 0.2rem;
            }

        }
    }
}

.footer_text{

    @include mix.lg-l {
        text-align: center;
    }

    & .tel{
        font-size: 1.3em;
    }

    &_logo{
        font-family: 'Tangerine', cursive;
        font-size: 4rem;
        font-weight: 1000;
        color: #FFF;
        text-shadow: 1px 1px 3px #0005;
        z-index: 2;
        width: 100%;
        text-align: right;

        @include mix.lg-l {
            text-align: center;
        }

        &::first-letter{
            font-size: 5rem;
            color: $carmine;
        }

        & span{
            color: $carmine;
        }
    }
}

$globalNavHeightMobile: 4rem;

.sticky_menu_mobile {
    padding: 0;
    margin: 0;
    width: 100%;
    height: $globalNavHeightMobile;
    background-color: gray;
    bottom: 0;
    left: 0;
    // jsで付与
    position: fixed;
    z-index: 9999;
    box-shadow:0px 0px 2px 1px lightgray;

    & > li:nth-of-type(odd) {
        width: calc(14%);
        margin: 0 calc(1%);
    }

    & > li:nth-of-type(even) {
        width: calc(17%);
        margin: 0 calc(1%);
    }

    & a {
        width: 100%;
        height: $globalNavHeight / 2;
        color: #fff;
        font-size: 0.5rem;
        list-style-type: none;
        letter-spacing: -0px;
    }

    & i {
        padding: 1rem;
        width: 100%;
        height: $globalNavHeight / 2;

        & #text {
            font-size: 10rem;
        }

    }
}

