@use "fonts" as font;
@use "sass:math";
$mainVisualHeight: 480px;

$clrActivePage: #90c;
@use "my_variables" as var;
@use "my_mixins" as mix;
@use "my_common_style";
@use "my_anime" as anim;
@use "common" as cmn;

$imagesPath: "../images/";
@function imgUrl($fileName) {
  @return url($imagesPath + $fileName);
}


body {
    margin: 0;
    background-color: cmn.$clrSub2;
}

h2,h3{
    margin: 0;
    color: map-get(cmn.$clrMap, 'text');
}

a {
    color: var.$fClr;
}

.full_width_access {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);

    padding-left: 2rem;
    padding-right: 2rem;

    @include mix.md-l {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}


// grid layoutで対応可能
.d_flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;

    & > img{
        flex:0 1 auto;
    }
}

// ============= js用用定義 ===============
.nav_active_page{
    background-color: $clrActivePage;
    // animation: key-opacity ease 100ms 0ms 1 normal forwards running;
    transition: 300ms;
}

.nav_active_anchor{
    background-color: #69f;
    // animation: key-opacity ease 100ms 0ms 1 normal forwards running;
    transition: 300ms;
}

.hidUntilOnload{
    visibility: hidden;
}

// ============= 汎用 ===============
// jsで付与する
.goto_top_tag {
    padding: 0 1.2rem 0 0;
    width: cmn.$sideTabWidth;
    height: cmn.$sideTabHeight;
    background-color: cmn.$sideTabClr;
    z-index: 9998;

    &:hover{
        background-color: lighten(cmn.$sideTabClr, 5%);
    }

    top: cmn.$gotoTopHeight;
    left: calc(100% - 3rem);
    /*中心回転から起点を中心から左上に*/
    transform-origin: 0% 0%;
    transform: rotate(-90deg);
    position: fixed;
    display: none;
    border-radius: 0.4rem 0.4rem 0.1rem 0.1rem;

    & > a {
        margin: 0;
        padding-right: 20px;
        width: cmn.$sideTabWidth;
        height: cmn.$sideTabHeight;
        color: var.$fClr;
        text-align: center;
        line-height: cmn.$sideTabHeight - 0.5rem;
        text-decoration: none;
    }

    &::after {
        position: absolute;
        content: '';
        border-top: 2px solid var.$fClr;
        border-right: 2px solid var.$fClr;
        top: 18px;
        right: 33px;
        width: 0.6rem;
        height: 0.6rem;
        transition: 0.5s;
        transform: rotate(45deg);
    }

    &:hover::after {
        right: 23px;
    }
}

$imgSizeKurageX: 300px;
$imgSizeKurageY: 200px;

.image_hover{
    &_base{
        position: relative;

        & img{
            width: $imgSizeKurageX;
            height: $imgSizeKurageY;
            margin: 15px;
            padding: 0;
            box-sizing: content-box;
        }
        &:hover{
            // content:"textoverlay";
            // opacity: 0;
        }
    }
    &_text{
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        margin: 0;
        margin: 15px;
        width: $imgSizeKurageX;
        height: $imgSizeKurageY;
        z-index: 1;
        opacity: 0;
        color:var.$fClr;
        background-color: #008;
        text-align: center;
        overflow: hidden;
        transition: 300ms opacity ease 0ms;

        &:hover{
            // animation: image_text_overlay 600ms ease-out 0s 1 normal forwards running;
            opacity:1;
            transition: 600ms opacity ease 0ms;
        }
    }
}


// ============= mainVisual ===============
.main_vis{

    &_wrap{
        position: relative;
        width: 100%;
        height: cmn.$mainVisualHeight;
        background: {
            image: imgUrl("gyu-lamp.jpg");
            repeat: no-repeat;
            size: cover;
            position: bottom 40% left 50%;
        }
        // background: no-repeat center/80% imgUrl("gyu-lamp.jpg");
        filter:brightness(70%);

        // セカンドページ用縦幅が狭い装飾
        &_second {
            position: relative;
            width: 100%;
            height: cmn.$secondVisualHeight;
            background: {
                image: imgUrl("gyu-lamp.jpg");
                repeat: no-repeat;
                size: cover;
                position: bottom 40% left 50%;
            }
                filter:brightness(70%);
        }

        & img{
            width: 100%;
        }
    }


    &_text{

        position: absolute;
        top: math.div($mainVisualHeight, 2);
        left: 50%;
        transform:translateX(-50%) translateY(-50%);
        @include font.theme_fonts_en;
        font-size: 7rem;
        font-weight: 1000;
        color: #FFF;
        text-shadow: 1px 1px 3px #0005;
        z-index: 2;
        width: 100%;

        &::first-letter{
            font-size: 8rem;
            color: cmn.$carmine;
        }

        & span{
            color: cmn.$carmine;
        }

        @include mix.sm-l {
            font-size: 5rem;

            &::first-letter{
                font-size: 6rem;
                color: cmn.$carmine;
            }
        }

        // セカンドページ用縦幅が狭い装飾
        &_second {
            position: absolute;
            top: 100px;
            color: #fff;
        }
    }
}

// ============= nav ===============
.sub_nav{
    position: absolute;
    top: 280px;
    right: 0px;
}

.gnav{
    &_anim{
        @include anim.hover-underline($type: slide, $dir: center, $weight: 6px, $color: #eee);
        @include anim.hover-underline-slow($type: slide, $dir: center, $weight: 5px, $color: map-get(cmn.$clrMap, 'text') ,$pd-btm:  11px , $time: 500ms);
    }
    &_style{
        width: 8rem;
        height: cmn.$globalNavHeight;
    }
}

.white_box{
    margin: 0;
    width: 100%;
    background-color: #fff;
    z-index: -1;
}

.gray_box{
    margin: 0;
    width: 100%;
    background-color: #ddd;
}

.white_box_500{
    margin: 0;
    width: 100%;
    height: 500px;
    background-color: #fff;
    border: #fff 50px solid;
    z-index: -1;
}

.gray_box_500{
    margin: 0;
    width: 100%;
    background-color: #ddd;
}

// ============= footer ===============

.footer {
    &_copy{
        &_style{
            font-weight: 550;
            letter-spacing: 0.6rem;
            text-transform: uppercase;
            color: map-get(cmn.$clrMap, 'text');

            @include mix.md-l {
                font-size: 0.8em;
                letter-spacing: 0.2rem;
            }
        }
    }

}

.footer_text{

    @include mix.lg-l {
        text-align: center;
    }

    & .tel{
        font-size: 1.3em;
    }

    &_logo{
        @include font.theme_fonts_en;
        font-size: 4rem;
        font-weight: 1000;
        color: #FFF;
        text-shadow: 1px 1px 3px #0005;
        z-index: 2;
        width: 100%;
        text-align: right;

        @include mix.lg-l {
            text-align: center;
        }

        &::first-letter{
            font-size: 5rem;
            color: cmn.$carmine;
        }

        & span{
            color: cmn.$carmine;
        }
    }
}

$globalNavHeightMobile: 4rem;

.sticky_menu_mobile {
    padding: 0;
    margin: 0;
    width: 100%;
    height: $globalNavHeightMobile;
    background-color: gray;
    bottom: 0;
    left: 0;
    // jsで付与
    position: fixed;
    z-index: 9999;
    box-shadow:0px 0px 2px 1px lightgray;

    & > li:nth-of-type(odd) {
        width: calc(14%);
        margin: 0 calc(1%);
    }

    & > li:nth-of-type(even) {
        width: calc(17%);
        margin: 0 calc(1%);
    }

    & a {
        width: 100%;
        height: math.div(cmn.$globalNavHeight, 2);
        color: #fff;
        font-size: 0.5rem;
        list-style-type: none;
        letter-spacing: -0px;
    }

    & i {
        padding: 1rem;
        width: 100%;
        height: math.div(cmn.$globalNavHeight, 2);

        & #text {
            font-size: 10rem;
        }

    }
}

// ============= menu ===============
.menu_table {
    & dl {
        display: flex;
        flex-wrap: wrap;
        border-top: none;
        width: 100%;
        background-color: map-get(cmn.$clrMap, 'sub3');
        color: map-get(cmn.$clrMap, 'sub1');
        // box-shadow: 0px 2px 2px rgba(0, 0, 0, .4);

        &:nth-of-type(n+1){
            border-top: 1px solid #ccc;
        }

        @include mix.md-l {
            &:nth-of-type(1){
                border-top: 1px solid #ccc;
            }
        }
    }

    & dt {
        // background: $clrMain;
        width: 32%;
        @include mix.md-l {
            width:70%;
            display: block;
            padding: 1rem !important;
        };
        justify-content: start;
        align-items: center;
        min-width: 2rem;

        &:nth-of-type(even){
            padding-left: 3rem;
        }
    }

    & dd {
        text-align: right;
        // background: $clrSub1;
        // border-left: 1px solid #ccc;
        margin: 0;
        width: 18%;
        justify-content: end;
        align-items: center;

        @include mix.md-l {
            width:30%;
            padding: 1rem !important;
        };

        &:nth-of-type(odd){
            padding-right: 3rem;
        }
    }
    & dt, & dd{
        // height: 3.6rem;
        color: map-get(cmn.$clrMap, 'text');
        padding: 0.8rem;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;

        @include mix.md-g {
            &:nth-of-type(4n-3),&:nth-of-type(4n-2){
                background-color: map-get(cmn.$clrMap, 'hr');
            }
        }

        @include mix.md-l {
            padding: 0.2rem !important;

            &:nth-of-type(2n-1){
                background-color: map-get(cmn.$clrMap, 'hr');
            }
            &:empty {
                display: none;
            }
        }
    }
}


// ============= message ===============
.message {

    &_wrap {
        outline: 1px solid white;
        outline-offset: -6px;
        width: 100%;
        max-width: 1138px;
        max-height: 600px;
        min-height: 410px;
        height: 38vw;
        box-sizing: border-box;
        // font-size: 0;
        overflow: hidden;

        @include mix.lg-l {
            max-height: 900px;
            height: auto;
        }

        // inline-box 回り込み対策
        letter-spacing: -1em;
        * {
            letter-spacing: normal;
        }
    }

    &_title {
        letter-spacing: 0.2rem;
        font-weight: 1;
        @include font.theme_fonts;
        padding-left: 0;
        padding-right: 0;
        transform: scale(0.8, 1);
    }

    &_text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 1rem;
        display: inline-block;
        background-color: map-get(cmn.$clrMap, 'main');
        vertical-align: top;
        width: 35%;
        height: 100%;
        @include mix.lg-l {
            width: 100%;
        }
    }

    &_image {
        display: inline-block;
        max-width: 800px;
        width: 65%;
        height:100%;
        object-fit: cover;
        @include mix.lg-l {
            min-width: 100%;
            min-height: 300px;
        }
    }
}
